node_modules/
project/node_modules/
project/server/node_modules/
dist/
build/
coverage/
.DS_Store
.vscode/
.idea/
.env
*.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
.cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.sqlite3
*.log
/.history/
/.sass-cache/
/.cache/
/.pytest_cache/
/.venv/
venv/
env/
/.pnp/
coverage/
*.tgz